<!--レイアウト設定-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>GTD app</title>
	<!-- スタイルシート指定 -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/gtdapp.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">GTD app</h1>
		</div>
		<div class="col-sm nav-align">
			<!-- ユーザーが登録している場合の処理-->
			<% if (loggedIn) { %>
				<a href="/">
					<span class="button">Home</span>
				</a>
				<a href="/projects">
					<span class="button">プロジェクト</span>
				</a>
				<a href="/tasks">
					<span class="button">タスク</span>
				</a>
				<a href="/users">
					<span class="button">担当者</span>
				</a>
			<% } else { %>
				<a href="/">
					<span class="button">Home</span>
				</a>
			<% } %>
		</div>

		<div class="login">
			<!-- ユーザーが登録している場合の処理-->
			<% if (loggedIn) { %>
			<!-- ユーザー名とそのIDを表示	-->
			<p>Logged in as
				<a href="<%=`/users/${currentUser._id}`%>">
					<%= currentUser.name %></a>
				<!-- ログアウトリンク表示	-->
				<span class="log-out">
					<a href="/users/logout">ログアウト</a>
				</span>
			</p>
			<%} else {%>
			<!-- ユーザーが登録していない場合はログインページへ移動	-->
			<a href="/users/login">ログイン</a>
			<% } %>
		</div>
	</div>
	<div class="flashes">
		<!-- メッセージを表示	-->
		<% if (flashMessages) { %>
		<!-- 入力がOKのメッセージを表示	-->
		<% if (flashMessages.success) { %>
		<div class="flash success">
			<%= flashMessages.success %>
		</div>
		<!-- エラーメッセージを表示	-->
		<% } else if (flashMessages.error) { %>
		<div class="flash error">
			<%= flashMessages.error %>
		</div>
		<% } %>
		<% } %>
	</div>

	<div class="container">
		<%- body %>
	</div>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>
</html>
