<div class="data-form">
  <form class="form-signin" action="<%=`/tasks/${task._id}/update?_method=PUT`%>" method="POST">
    <h2 class="form-signin-heading">タスク編集:</h2>
    <label for="inputTaskname">タスク名</label>
    <input type="text" name="taskname" id="inputTaskname" class="form-control" value="<%= task.taskname %>" autofocus>
    <label for="inputProject">プロジェクト名</label>
    <input type="text" name="project" id="inputProject" class="form-control" value="<%= task.project %>" required>
    <label for="inputWorker">担当者</label>
    <input type="text" name="worker" id="inputWorker" class="form-control" value="<%= task.worker %>" required>
    <label for="inputLimit">期限</label>
    <input type="text" name="limit" id="inputLimit" class="form-control" value="<%= task.limit %>" required>

    <label for="inputStatus">状況</label>
    <select name="status" id="inputStatus"  class="form-control" value="<%= task.status %>" required>
      <option value="未着手">未着手</option>
      <option value="作業中">作業中</option>
      <option value="保留">保留</option>
      <option value="完了">完了</option>
    </select>

    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">修正完了</button>
  </form>
</div>
