<!--プロジェクト情報表示ページ-->
<h1 class="center">プロジェクト情報 :
  <%= project.proname %>
</h1>

<table class="table">
  <tr>
    <th>プロジェクト名</th>
  <td>
      <%= project.proname %>
    </td>
  </tr>
  <tr>
    <th>プロジェクト概略</th>
    <td>
      <%= project.description%>
    </td>
  </tr>
</table>

<!--プロジェクトに関してリンク先設定-->
<div>
                              <!-- プロジェクトのIDを編集用ボタンに組み込む。 -->
  <a class="button" href="<%=`/projects/${project._id}/edit`%>">
    プロジェクト編集
  </a>
</div>
<div>
                              <!-- プロジェクトのIDを削除用ボタンに組み込む -->
  <a class="button" href="<%= `/projects/${project._id}/delete?_method=DELETE` %>" onclick="return confirm('本当に削除しますか?')" a>削除</a>
</div>
<div>
  <a class="button" href="/projects">プロジェクトリストを見る。</a>
</div>
