<h2 class="center">担当者リスト</h2>
<div class="center">
  <a class="button" href="/users/new">新規担当者登録</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>担当者名</th>

      <th>メールアドレス</th>
      <th>所属部署</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%=`/users/${user._id}`%>">
          <%= user.name %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.section %>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/edit`%>">
          編集
        </a>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('本当に削除しますか?')" a>削除</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
